name: Go

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        cache: true
        go-version-file: go.mod
    - name: Set git to use LF
      # make sure that line endings are not converted on windows
      # as gofmt linter will report that they need to be changed
      run: git config --global core.autocrlf false
    - name: Commit linting
      if: matrix.os == 'ubuntu-latest' && github.ref != 'refs/heads/master'
      uses: wagoid/commitlint-github-action@v5
    - name: GolangCI-Lint
      if: matrix.os == 'ubuntu-latest'
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.49
    - name: Build
      run: make build
    - name: Test with race detector & code coverage
      if: matrix.os == 'ubuntu-latest'
      # only generate code coverage profile on ubuntu
      run: make cover=1 test-race
    - name: Test with race detector (MacOS)
      if: matrix.os == 'macos-latest'
      run: make test-race
    - name: Test without race detector (Windows)
      if: matrix.os == 'windows-latest'
      run: make test
    - name: Upload coverage to Codecov
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        files: ./cover.out
    - name: Trigger Beekeeper
      if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-latest' && success()
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.GHA_PAT_BASIC }}
        repository: ${{ github.repository }}
        event-type: trigger-beekeeper
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
