name: Go

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.16]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
    - name: Set git to use LF
      # make sure that line endings are not converted on windows
      # as gofmt linter will report that they need to be changed
      run: git config --global core.autocrlf false
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Commit linting
      if: matrix.os == 'ubuntu-latest' && github.ref != 'refs/heads/master'
      uses: wagoid/commitlint-github-action@v2
    - name: Cache Go modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-build-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.OS }}-build-${{ env.cache-name }}-
          ${{ runner.OS }}-build-
          ${{ runner.OS }}-
    - name: Build
      run: make build
    - name: Lint
      if: matrix.os == 'ubuntu-latest'
      run: make lint
    - name: Vet
      if: matrix.os == 'ubuntu-latest'
      run: make vet
    - name: Test with Race Detector
      # do not tests with race detector on windows
      # until the issue with badgerdb memory allocation
      # is solved in this case
      if: matrix.os != 'windows-latest'
      run: make test-race
    - name: Test
      if: matrix.os == 'windows-latest'
      run: make test
    - name: DeepSource Coverage
      if: matrix.os == 'ubuntu-latest'
      run: |
        go test -coverprofile=cover.out ./...
        curl https://deepsource.io/cli | sh
        ./bin/deepsource report --analyzer test-coverage --key go --value-file ./cover.out
      env:
        DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
    - name: Trigger Beekeeper
      if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-latest' && success()
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.REPO_GHA_PAT }}
        repository: ${{ github.repository }}
        event-type: trigger-beekeeper
        client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
